@font-face {
  font-family: BowlbyOne;
  src: url("BowlbyOne-Regular.ttf");
}
@font-face {
  font-family: Konkhmer;
  src: url("KonkhmerSleokchher-Regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
  font-weight: 400;
}

:root {
  --header-font: BowlbyOne;
  --color2-1: hsl(215, 100%, 5%);
  --color2-2: hsl(210, 100%, 10%);
  --color2-3: hsl(210, 100%, 20%);
  --color2-32: hsl(208, 100%, 22%);
  --color2-4: hsl(46, 100%, 50%);
  --color2-5: hsl(50, 100%, 52%);
  --color-text: hsla(0, 0%, 92%, 0.75);
  --color-hover: hsla(46, 100%, 50%, 0.2);
  --width-navbar-side: 18vw;
  --width-content-side: 82vw;
  --height-navbar-top: 20vh;
  --height-content-top: 84vh;
}

body {
  color: var(--color-text);
  background: var(--color2-3);
  line-height: 1.5;
  font-family: Konkhmer;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
  overflow-x: hidden; /* formerly just overflow */
}
@media screen and (max-width: 1100px), screen and (max-device-width: 1100px) {
  body {
      overflow: hidden;
  }
}

h1, h2 {
  font-family: var(--header-font);
  text-transform: uppercase;
  font-size: 2.5rem;
}

h1 {
  color: var(--color2-4);
}

a {
  text-decoration: none;
  color: var(--color2-4);
  /* transition: 0.3s; */
}

p {
 margin-bottom: 6px;
 font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
 Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

img {
  display: block;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
  outline: none;
  color: var(--color2-4);
  background-color: var(--color2-2);
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px #999;
  cursor: pointer;
  /* transition-duration: 0.1s; */
}
button:hover {background-color: var(--color2-1)}
button:active {
  background-color: var(--color2-1);
  box-shadow: 0 1px #666;
  transform: translateY(3px);
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-hover);
  }
}